@model IEnumerable<AttendanceMgmt.Models.vUserAttendanceDetail>
@{
    ViewBag.Title = "Attendance";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css" />

<select id="month" name="month">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
</select>
<table id="tbAllUsers" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>AttendanceId</th>
            <th>UserId</th>
            <th>Date</th>
            <th>From</th>
            <th>To </th>
            <th>Approve</th>
            <th>Time Worked</th>
        </tr>
    </thead>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var date = new Date();
        var month = date.toLocaleString('default', { month: 'long' });
        $("#month").val(month);
        var tb = $("#tbAllUsers").dataTable({
            "processing": true,
            "pageLength": 10,
            "ajax": {
                "url": "/Employee/Home/GetUserAttendance?month=" + month,
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "AttendanceId", "name": "AttendanceId" },
                { "data": "UserId", "name": "UserId" },
                { "data": "Date", "name": "Date" },
                { "data": "FromTime", "name": "FromTime" },
                { "data": "ToTime", "name": "ToTime" },
                { "data": "IsApproved", "name": "IsApproved" },
                { "data": null }
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [-2],
                    "mRender": function (data, type, full) {
                        if (data == true) {
                            return "accepted";
                        }    
                        else if (data == false) {
                            return "Rejected";
                        }
                        else {
                            return "Not set";
                        }
                    }
                },
                {
                    "aTargets": [-1],
                    "mRender": function (data, type, full) {
                        var strHour1 = parseInt(full.ToTime.substring(0, 2),10);
                        var strHour2 = parseInt(full.FromTime.substring(0, 2),10);
                        var strMin1 = parseInt(full.ToTime.substring(3, 5),10);
                        var strMin2 = parseInt(full.FromTime.substring(3, 5), 10);
                        var hour = strHour1 - strHour2;
                        var min = strMin1 - strMin2;
                        return hour + "hr" + min + "min";
                    }
                }
            ]
        });
        $("#month").change(function () {
            month = $(this).children("option:selected").val();
            tb.fnClearTable();
            tb.fnDestroy();
            $("#tbAllUsers").dataTable({
                "processing": true,
                "pageLength": 10,
                "ajax": {
                    "url": "/Employee/Home/GetUserAttendance?month=" + month,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "AttendanceId", "name": "AttendanceId" },
                    { "data": "UserId", "name": "UserId" },
                    { "data": "Date", "name": "Date" },
                    { "data": "FromTime", "name": "FromTime" },
                    { "data": "ToTime", "name": "ToTime" },
                    { "data": "IsApproved", "name": "IsApproved" },
                    {"data":null}
                ],
                "aoColumnDefs": [
                    {
                        "aTargets": [-2],
                        "mRender": function (data, type, full) {
                            if (data == true) {
                                return "Yes";
                            }                            
                            else {
                                return "No";
                            }
                        }
                    },
                    {
                        "aTargets": [-1],
                        "mRender": function (data, type, full) {
                            var strHour1 = parseInt(full.ToTime.substring(0, 2), 10);
                            var strHour2 = parseInt(full.FromTime.substring(0, 2), 10);
                            var strMin1 = parseInt(full.ToTime.substring(3, 5), 10);
                            var strMin2 = parseInt(full.FromTime.substring(3, 5), 10);
                            var hour = strHour1 - strHour2;
                            var min = strMin1 - strMin2;
                            return hour + "hr" + min + "min";
                        }
                    }
                ]
                
            });
        });
    });
</script>
