@model IEnumerable<AttendanceMgmt.ViewModels.vDateMonthAttendance>
@{
    ViewBag.Title = "Employee Home";
    List<int> listDate = new List<int>();
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h2>Emp This Month Attendance - Home</h2>

<div class="container">
    <div class="row" style="">
        @if (Model != null) {
            foreach (var i in Model)
            {
                listDate.Add(Convert.ToInt32(i.Date));
            }
        }

        @for (int x = 1; x <= 31; x++)
        {
            <div class="col-md-2" style="padding-top:20px">
                <div id="box">
                    @x
                    @if (listDate.Contains(x))
                    {
                        <h3>Yes</h3>
                    }
                    else
                    {
                        <h3>No</h3>
                    }
                </div>
            </div>
        }
    </div>
</div>

<style>
    #box {
        height: 80px;
        width: 120px;
        border-radius: 5px 4px;
        box-shadow: 10px 10px 8px #888888;
        background-color: #A9CCE3;        
    }
</style>